<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RapidBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <FlexibleAuthorizeView Permissions="@Permissions.Counter">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@Permissions.Forecast">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        </FlexibleAuthorizeView>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="claims">
                    <span class="oi oi-document" aria-hidden="true"></span> Claims
                </NavLink>
            </div>
        </AuthorizeView>
        <FlexibleAuthorizeView Permissions="@Permissions.Todo">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="todo">
                    <span class="oi oi-list" aria-hidden="true"></span> Todo
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ViewUsers | Permissions.ManageUsers)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/users">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ViewRoles | Permissions.ManageRoles)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/roles">
                    <span class="oi oi-badge" aria-hidden="true"></span> Roles
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
        <FlexibleAuthorizeView Permissions="@(Permissions.ViewAccessControl | Permissions.ConfigureAccessControl)">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/access-control">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Access Control
                </NavLink>
            </div>
        </FlexibleAuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
