@attribute [Authorize]

@if (State.Initialised)
{
	<div class="clearfix">
		<h2 class="float-start">Lists</h2>
		<button class="btn btn-default float-end" title="Add List..." data-bs-toggle="modal" data-bs-target="#newListModal" @onclick="NewList">
			<span class="oi oi-plus"></span>
		</button>
	</div>
	<ul class="list-group">
		@foreach (var list in State.Model!.Lists)
		{
			<li class="list-group-item @(IsSelected(list) ? "active" : "")" @onclick="@(() => SelectList(list))">
				@list.Title
			</li>
		}
	</ul>
}

<div @ref="_newListModal" class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="newListModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newListModalLabel">New List</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<EditForm Model="@_newTodoList" OnValidSubmit="@CreateNewList">
				<div class="modal-body">
					<FluentValidationValidator DisableAssemblyScanning="true" />
					<CustomValidation @ref="_customValidation" />

					<div class="row g-3 align-items-center">
						<div class="col-auto">
							<label for="titleInput">Title</label>
						</div>
						<div class="col-auto">
							<input id="titleInput" @ref="_titleInput" @bind-value="@_newTodoList.Title" type="text" class="form-control" placeholder="Title..." />
						</div>
						<div class="col-auto">
							<ValidationMessage For="@(() => _newTodoList.Title)" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
				</div>
			</EditForm>
		</div>
	</div>
</div>